<head>
  <title>Kiwii</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
  
  <label class="switch">
    <input type="checkbox" id="aaa">
    <div class="slider">osdjs</div>
  </label>

  <section class="main-content">
    <script>
        document.addEventListener('DOMContentLoaded', () => {
          const checkbox = document.getElementById('aaa');

          checkbox.addEventListener('change', () => {
            console.log(checkbox);
            if (checkbox.checked) {
              // document.body.classList.add('dark');
              console.log('checked');
            } else {
              // document.body.classList.remove('dark');
              console.log('unchecked')
            }
          });
        });
    </script>
    <p>Commands of <%= client.user.tag %></p>
    <% for(const c of commands) { %>
    <% let { name, value } = c; %>
    <table style="width: 100%">

      <h1><%= upperFirstButAcceptEmojis(beautifyCategories(name)) %></h1>
      <tr>
        <th>Commands</th>
        <th>Description</th>
        <th>Usage</th>
        <th>Aliases</th>
      </tr>
      <% value = value.filter((c) => c.category === name) %>
      <% for(const command of value) { %>
      <% const { name: commandName, description, aliases, utilisation, category } = command; %>
      <tr>
        <td><%= commandName %></td>
        <td>
          <%- description.replace(/`(.+?)`/g, '<code class="code-style">$1</code>') %>
        </td>
        <td><%= utilisation.replace('{prefix}', client.prefix)%>

        </td>
        <td><%= typeof aliases === 'string' ? aliases : aliases.join(', ');%></td>
      </tr>
      <% } %>
    </table>
    <% } %>
    <% cache = [] %>
  </section>
</body>